<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831188786038-1h9qlfuif13vu1m42ceum81fuk517bs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831188786038-1h9qlfuif13vu1m42ceum81fuk517bs1</string>
	<key>API_KEY</key>
	<string>AIzaSyBNdVhJxyE2BWYh_GUoJwiRb1NUhhoaCqU</string>
	<key>GCM_SENDER_ID</key>
	<string>831188786038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ND09.flutterWorkout</string>
	<key>PROJECT_ID</key>
	<string>workout-3b813</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-3b813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831188786038:ios:a78834a3f32de3a670f857</string>
</dict>
</plist>